html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.maNav{
    background-color:  #1f1c1f;
}

.maNav .navbar-nav a.nav-link.active {
    color: #40191c;
}

.maNav .navbar-nav a.nav-link{
    text-transform: uppercase;
    color: white;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}
.home-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
#fond_accueil {
    background: linear-gradient(to top, #0f0f11ba, #0c0b0ccc), url(joker-the-movie-fond-d-ecran-3440x1440_15.jpg) top center no-repeat;
    background-size: cover;

}    
.intro_text{
    position: absolute;
    min-width: 100%;
    top: 50vh;
    transform: translateY(-50%);
}

.intro_text .lead_text{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.1em;
    font-weight: 300;
}


.intro_text .lead5_text {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.text-center{
    text-align: center !important;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.text-justify{
    text-align: justify !important;
}
h2{
   color :black;
   font-family: Arial, Helvetica, sans-serif;
    
}
#assoc{
    font-family: 'M PLUS 2', sans-serif;
    color: black;
}

#fest{
    font-family: 'M PLUS 2', sans-serif;    
    color :black;
}
p{
    line-height: 1.75;
}

.association{
    background-color: whitesmoke;
}
.festival{
    background-color: whitesmoke;
    margin-top: 10px;
}
section#resa{
    background-color: whitesmoke;
}
.infos{
    margin-top: 20px;
    background-color: whitesmoke;
}
#info{
    color :black;
}
