{% extends 'base.html.twig' %}

{% block title %}Hello CommentsController!{% endblock %}

{% block body %}

<div class="form-group">
    <label for="exampleFormControlTextarea1">Commentaire :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

<div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="" class="img img-rounded img-fluid">
                            </div>
                            <div class="col-md-10">
                                <div class="clearfix"></div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
