<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
  

      <nav class="navbar sticky-top navbar-expand-lg navbar-dark maNav">
        <a class="navbar-brand" href="#">
          <img src="logo.png" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#">Accueil</a>
          <a class="nav-item nav-link" href="#asso">Association</a>
          <a class="nav-item nav-link navLink" href="#fest">Festival</a>
          <a href="#film" class="nav-item nav-link navLink">Films</a>
          <a href="#resa" class="nav-item nav-link navLink">Réservations</a>

          <a class="nav-item nav-link" href="#infos">Informations</a>
          </div>
        </div>
      </nav>
      <div class="landing">
        <div class="home-wrap">
            <div class="home-inner" id="fond_accueil"></div>
        </div>
    </div>
    <div class="intro_text">
      <div class="text-center">
          <h1 class="lead_text">Bienvenue au festival du film en plein air</h1>
          <br>
          <h5 class="lead5_text">Vous y retrouverez l'ensemble des informations concernant</h5>
          <h5 class="lead5_text">le festival et notre association</h5>
      </div>
    </div>

    <section class="association" id="asso">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h2 class="section-heading text-uppercase">Présentation de l'association</h2>
  
              </div>
          </div>
          <div class="row">
              <div class="col-md-7 text-justify">
                  <p id="assoc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae omnis, quas quae perferendis tempore eius eaque, fugit suscipit commodi reprehenderit veritatis numquam repellat ratione fugiat ut est totam, unde libero.</p>
              </div>
              <div class="col-md-5 my-auto">
                  <img src="https://www.oyorooms.com/travel-guide/wp-content/uploads/2019/09/cropped-Hero-Image-2-1.jpg" class="img-fluid rounded" alt="Responsive image">
              </div>
          </div>
      </div>

  </section>
  
<section class="festival" id="fest">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="section-heading text-uppercase">Présentation du festival</h2>

          </div>
      </div>
      <div class="row">
          <div class="col-md-7 text-justify">
              <p id="fest">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae omnis, quas quae perferendis tempore eius eaque, fugit suscipit commodi reprehenderit veritatis numquam repellat ratione fugiat ut est totam, unde libero.</p>
          </div>
          <div class="col-md-5 my-auto">
              <img src="https://cambsedition.co.uk/wp-content/uploads/2017/07/images_arts_culture_AUG17_casino-royale-playing.jpg" class="img-fluid rounded" alt="Responsive image">
          </div>
      </div>
  </div>

</section>

<section class="container" id="film">
  <div class="col-md-12 text-center">
      <h2 class="section-heading text-uppercase">Film et horaires</h2>

  </div>
  <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://cdn1.cinenode.com/movie_poster/130/full/final-fantasy-vii-advent-children-129843.jpg" alt="affiche ff7"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=61768.html">Final Fantasy VII : Advent Children</a>
                  </h4>
                  <p>Sorti le 14 septembre 2005  (1h 42min)</p>
                  <p>De Tetsuya Nomura </p>
                  <p>Avec Takahiro Sakurai,Toshiyuki Morikawa </p>
                  <p>Genres Science fiction, Aventure</p>
                  <p>Nationalité Japonais </p>
                  <p>Diffusion le 5 août à 21h</p>

              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://fr.web.img3.acsta.net/medias/nmedia/18/35/53/23/18423997.jpg" alt="affiche "></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=40623.html">Star Wars Episode III : La Revanche des Sith</a>
                  </h4>

                  <p>Sorti en mai 2005 (2h 20min)</p>
                  <p>De Georges Lucas</p>
                  <p> Avec Ewan Mcgregor, Hayden Christensen</p>
                  <p> Genres Science Fiction </p>
                  <p>Nationalité américain</p>
                  <p>Diffusion le 5 aout à 23h</p>


              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://fr.web.img2.acsta.net/pictures/19/04/04/09/04/0472053.jpg" alt="affiche avengers"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=232669.html">Avengers : Endgame</a>
                  </h4>
                  <p>Sorti en avril 2019 (3h 02 min)
                  </p><p>De Joe Russo et Anthony Russo </p>
                  <p>Avec Robert Downey.Jr, Chris Evans</p>
                  <p>Genres Action et Science Fiction
                  </p><p>Nationalité américain
                  </p>
                  <p>Diffusion le 6 août à 18h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://static.tvtropes.org/pmwiki/pub/images/broly_poster.png" alt="affiche dbz"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=148014.html">Dragon Ball Z : Broly le Super Guerrier </a>
                  </h4>
                  <p>Sorti en avril 1993 (1h 10 min)
                  </p><p>De Shigeyasu Yamauchi</p>
                  <p>Avec Masako Nozawa,Ryo Horikawa</p>
                  <p>Genres Action
                  </p><p>Nationalité Japonais
                  </p>
                  <p>Diffusion le 6 août à 22h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://www.filmspourenfants.net/wp-content/uploads/2018/03/dragon-ball-z-la-menace-de-namek-a-380x500.jpg" alt="affiche dbz"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=269252.html">Dragon Ball Z : La Menace de Namek</a>
                  </h4>
                  <p>Sorti en mars 1991 (1 h 07 min)
                  </p><p>De Mitsuo Hashimoto </p>
                  <p>Avec Masako Nozawa,Toshio Furukawa</p>
                  <p>Genres Action
                  </p><p>Nationalité Japonais
                  </p>
                  <p>Diffusion le 6 août à 23h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://media.senscritique.com/media/000019865536/source_big/Dragon_Ball_Z_Fusions.jpg" alt="affiche dbz"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=171588.html">Dragon Ball Z : Fusions</a>
                  </h4>
                  <p>Sorti en mars 1995 (50 min)
                  </p><p>De  Shigeyasu Yamauchi </p>
                  <p>Avec Masako Nozawa, Ryo Horikawa</p>
                  <p>Genres Action
                  </p><p>Nationalité Japonais
                  </p>
                  <p>Diffusion le 7 août à 15h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://www.db-z.com/wp-content/uploads/2018/10/DRAGON-BALL-THE-MOVIES-Blu-ray-03-Cent-mille-guerriers-de-m%C3%A9tal.jpg" alt="affiche dbz"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=147930.html">Dragon Ball Z : Cent milles guerriers de métal</a>
                  </h4>
                  <p>Sorti en mars 1992 (1h 02 min)
                  </p><p>De Daisuke Nishio </p>
                  <p>Avec Ryusei Nakao,Masako Nozawa </p>
                  <p>Genres Action 
                  </p><p>Nationalité Japonais
                  </p>
                  <p>Diffusion le 7 août à 16h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://cdn.kulturegeek.fr/wp-content/uploads/2021/07/Shang-Chi-et-la-Legende-des-Dix-Anneaux-Nouvelle-Affiche.jpg" alt="affiche shang chi"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=270144.html">Shang Chi et la légende des dix anneaux</a>
                  </h4>
                  <p>Sorti en Septembre 2021 (2h 12 min)
                  </p><p>De Destin Daniel Cretton </p>
                  <p>Avec Simu Liu, Tony Leung Chiu-Wai</p>
                  <p>Genres Action et Fantasy
                  </p><p>Nationalité américain
                  </p>
                  <p>Diffusion le 7 août à 18h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://fr.web.img6.acsta.net/pictures/210/358/21035868_20130903155808083.jpg" alt="affiche terminator"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=7124.html">Terminator 2 : Le Jugement Dernier</a>
                  </h4>
                  <p>Sorti en octobre 1991 (2h 17 min)
                  </p><p>De James Cameron </p>
                  <p>Avec Arnold Schwarzenneger,Edward Furlong</p>
                  <p>Genres Action et Science Fiction
                  </p><p>Nationalité américain
                  </p>
                  <p>Diffusion le 7 août à 20h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://fr.web.img5.acsta.net/medias/nmedia/18/35/23/97/18391267.jpg" alt="affiche indestructible"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=53096.html">Les Indestructibles</a>
                  </h4>
                  <p>Sorti en novembre 2004 (1h 55 min)
                  </p><p>De Brad Bird </p>
                  <p>Avec Samuel L.Jackson,Craig T. Nelson</p>
                  <p>Genres Action et Super-héros
                  </p><p>Nationalité américain
                  </p>
                  <p>Diffusion le 7 août à 22h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://media.senscritique.com/media/000020123149/source_big/Shaolin_Soccer.jpg" alt="affiche foot"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=43986.html">Shaolin Soccer</a>
                  </h4>
                  <p>Sorti en août 2002 (1h 27 min)
                  </p><p>De Stephen Chow </p>
                  <p>Avec Stephen Chow,Patrick Tse</p>
                  <p>Genres Sport et action
                  </p><p>Nationalité hong-kongais
                  </p>
                  <p>Diffusion le 8 août à 18h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://img3.cdn.cinoche.com/images/5cc14ab865f2b7be92ab8f1798f12d72.jpg" alt="affiche blade"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=19259.html">Blade</a>
                  </h4>
                  <p>Sorti en novembre 1998 (2h 00 min)
                  </p><p>De Stephen Norrington </p>
                  <p>Avec Wesley Snipes</p>
                  <p>Genres Action et Horreur
                  </p><p>Nationalité américain
                  </p>
                  <p>Diffusion le 8 août à 20h</p>

              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card h-100">
              <a href="#"><img class="card-img-top project" src="https://i.pinimg.com/originals/36/67/cf/3667cf20785b9f05b17ff14152de9895.jpg" alt="affiche ff15"></a>
              <div class="card-body">
                  <h4 class="card-title">
                      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=246280.html">Kingsglaive : Final Fantasy XV</a>
                  </h4>
                  <p>Sorti en juillet 2016 (1h 50 min)
                  </p><p>De Takeshi Nozue </p>
                  <p>Avec Aaron Paul,Sean Bean</p>
                  <p>Genres Action et Fantasy
                  </p><p>Nationalité japonais
                  </p>
                  <p>Diffusion le 8 août à 22h</p>

              </div>
          </div>
      </div>
  </div>
  
</section>
<section id="resa">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="section-heading text-uppercase">Réservez vos places !</h2>
              <h3 class="section-subheading text-muted">Voici le formulaire pour réserver une séance</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <form id="resaForm" name="sentResa">
                  <div class="row">
                      <div class="form-group col-md-6">
                          <input class="form-control" id="nomresa" type="text" placeholder="Nom" aria-describedby="nomresa">
                      </div>
                      <div class="form-group col-md-6">
                          <input class="form-control" id="prenomresa" type="text" placeholder="Prénom" aria-describedby="prenomresa">
                      </div>
                      <div class="form-group col-md-6">
                          <input class="form-control" id="emailresa" type="email" placeholder="Adresse e-mail" aria-describedby="emailresa">
                      </div>
                      <div class="form-group col-md-6">
                          <input class="form-control" id="telephoneresa" type="tel" placeholder="Numéro de Téléphone" aria-describedby="telephoneresa">
                      </div>
                      <div class="form-group col-md-8 offset-md-2 text-center">
                          <label for="selection">Choix de la séance</label>
                          <select class="form-control form-control-lg" id="selection">
                              <option>5 août 2022 à 21h /Final Fantasy VII : Advent Children</option>
                              <option>5 août 2022 à 23h / Star Wars Episode III: La Revanche des Sith</option>
                              <option>6 août 2022 à 18h / Avengers : Endgame</option>
                              <option>6 août 2022 à 22h / Dragon Ball Z : Broly le Super Guerrier</option>
                              <option>6 août 2022 à 23h / Dragon Ball Z : La Menace de Namek</option>
                              <option>7 août 2022 à 15h / Dragon Ball Z : Fusions </option>
                              <option>7 août 2022 à 16h / Cent mille Guerriers de métal</option>
                              <option>7 août 2022 à 18h / Shang Chi et la légende des dix anneaux</option>
                              <option>7 août 2022 à 20h / Terminator 2 : Le Jugement dernier</option>


                              <option>7 août 2022 à 22h / Les Indestructibles</option>
                              <option>8 août 2022 à 18h / Shaolin Soccer</option>

                              <option>8 août 2022 à 20h / Blade</option>
                              <option>8 août 2022 à 22h / Kingsglaive : Final Fantasy XV</option>
                         
                          </select>
                      </div>
                      <div class="col-md-12 text-center">
                          <button id="sendResaButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Réserver</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>

  </div>
</section>
<section class="infos" id="infos">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="section-heading text-uppercase">Informations</h2>

          </div>
      </div>
      <div class="row">
          <div class="col-md-7 text-justify">
              <p id="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae omnis, quas quae perferendis tempore eius eaque, fugit suscipit commodi reprehenderit veritatis numquam repellat ratione fugiat ut est totam, unde libero.</p>
              
          </div>
          <div class="col-md-5 my-auto">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10495.49494846824!2d2.308955!3d48.8796835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe62425fddeddc402!2sParc%20Monceau!5e0!3m2!1sfr!2sfr!4v1637782443961!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>
      </div>
  </div>

</section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>